body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

a {
    all: unset;
    cursor: pointer;
}

.container {
    display: flex;
    gap: 20px;
}

.box {
    width: 150px;
    height: 200px;
    background-color: #4d4dfa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.box h2 {
    margin-bottom: 10px;
}

.box p {
    margin: 5px 0;
}

header {
    width: 100%;
    background-color: darkblue;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
}

.logo {
    position: absolute;
    left: 50px;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    align-items: center;
    height: 100%;
}

p {
    color: white;
    display: inline-block;
    padding: 8px 8px;
    border: 2px solid #333;
    background-color: #333;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 0;
}

.box h2 {
    color: white;
}

.form-container {
    max-width: 500px;
    background: white;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin-bottom: 60px;
}

.form-item {
    margin-bottom: 15px;
}

.form-item label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-item input,
.form-item textarea,
.form-item select {
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-item textarea {
    height: 100px;
    resize: vertical;
}

.form-item {

}